<html>

<head>
    <meta charset="UTF-8">
    <title>сайт</title>
</head>

<body>
    <fieldset>
        <legend>
            данные пользователя
        </legend>
        <label>
            Имя:
            <input type="text" name='name' value='name'>
            <br>
            Email:
            <input type="text" name="email" value="email">
        </label>
    </fieldset>
    <br>
    <fieldset>
        <legend>
            Ваша мнение
        </legend>
        <label>
            Как вы узнали о нас?
            <select>
                <option>
                    Google
                </option>
                <option>
                    Yandex
                </option>
                <option>
                    Реклама
                </option>
                <option>
                    Друзья
                </option>
            </select>
        </label>
    <label>
        Воспользуетесь ли услугой еще раз?
    </label>

    Да
    <input type="button" name='name' value=''>

    Нет
    <input type="button" name='name' value=''>

        <label>коментарий</label>

        <textarea rows = "5" cols = "6"></textarea>
        согласен с условиями сайта
        <input type="button" name="d" value="">

        </fieldset>

</body>

</html>


